<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA9117BA1DFBF53B00125FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9117CE1DFBF53B00125FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9117D91DFBF53B00125FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
